@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Vandy Vasilevskoy, 28<br />
    Kiev, 01021<br />
    <abbr title="Phone">P:</abbr>
    (095) 791 79 93
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@fit.knu.ua</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@fit.knu.ua</a>
</address>