@{
    ViewBag.Title = "Home Page";
}

<div>
    <div class="row">
        <div class="jumbotron">
            <h1>Online Shop</h1>
            <p class="lead">
                Online Shop is the world leader in online trading virtual items.
                Such as:
                <ul>
                    <li>
                        <a>Services of different kind</a>
                    </li>
                    <li>
                        <a>Non-verbal help</a>
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div class="row">
        <img src="https://militarist.ua/upload/resize_cache/iblock/e51/960_310_1/e51bc9df534c9aa0b1b4e24c35b6339f.jpg" alt="Sale" class="screen-width">
    </div>
    <div class="height-50"></div>
    <div class="row">
        <div class="new-items">

        </div>
        <div class="col-sm-9">
            <div class="col-md-4">
                <h2>Our benefits</h2>
                <ul class="list-group">
                    <li class="list-group-item">Perfect service</li>
                    <li class="list-group-item">Low prices</li>
                    <li class="list-group-item">Perfect reputation</li>
                    <li class="list-group-item">Retail network</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h2>News</h2>
                <div class="media">
                    <div class="media-left media-middle">
                        <img src="~/Content/Images/Items/mechanix_logo.jpg" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <a>Today we have a new supply of MECHANIX production</a>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left media-middle">
                        <img src="~/Content/Images/Items/us_army_logo.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <a>New supply of American contract wear</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>Popular Items</h2>
                @Html.Partial("Partials/Carousel")
            </div>
        </div>
        <div class="col-sm-3">
            <div class="media">
                <div class="media-left">
                    <img src="~/Content/Images/img_avatar1.png" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">John Doe</h4>
                    <p>
                        We found Ukrainian market underestimated. So this is the key to success!
                        <a>Read more...</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="~/Content/Images/img_avatar2.png" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Margaret Tetcher</h4>
                    <p>
                        Ukraine evoleves since First National Revolution in 1991 <a>Read more...</a>
                    </p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img src="~/Content/Images/img_avatar3.png" class="media-object" style="width:60px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Ivan Vasilievich</h4>
                    <p>
                        This is a realy interesting article about our new products that you can find
                        in our shop. <a>Read more...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>