
@{
    ViewBag.Title = "Payment";
}
<script src="//api.fondy.eu/static_common/v1/checkout/ipsp.js"></script>
<div id="checkout"></div>
<script>
        var button = $ipsp.get("button");
        button.setHost("api.fondy.eu");
        button.setProtocol("https");
        button.setMerchantId(1410058);
        button.setAmount("@OnlineShop.Services.State.Shopping.Total", "USD", true);
        button.setResponseUrl("@Url.Action("PaymentCallback", "Shopping")");@**@
        button.addParam("lang", "en");
        button.addParam("order_desc", "Order payment");
        var url = button.getUrl();
        $ipsp("checkout").config({
            "wrapper": "#checkout",
            "styles": {
                "body": {
                    "overflow": "hidden"
                }
            }
        }).scope(function () {
            this.width("100%");
            this.height(480);
            this.action("resize", function (data) {
                this.setCheckoutHeight(data.height);
            })
            this.loadUrl(url);
        });
</script>

